@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Confident With Us<a href="https://www.berca.co.id/"> Berca Hardayaperkasa</a>.</p>
</div>
<script src="~/SbAdmin/vendor/jquery/jquery.min.js"></script>
<script src="~/SbAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/SbAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>
<script>

    $.ajax({
        url: "https://localhost:44395/api/Education",
        success: function (result) {
            console.log(result);
        }
    })
</script> 